In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("taxi_zone_lookup.csv", encoding='utf-8')

In [13]:
df

     LocationID        Borough                     Zone
0             1            EWR           Newark Airport
1             2         Queens              Jamaica Bay
2             3          Bronx  Allerton/Pelham Gardens
3             4      Manhattan            Alphabet City
4             5  Staten Island            Arden Heights
..          ...            ...                      ...
260         261      Manhattan       World Trade Center
261         262      Manhattan           Yorkville East
262         263      Manhattan           Yorkville West
263         264        Unknown                  Unknown
264         265        Unknown                  Unknown

[265 rows x 3 columns]

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [18]:
df.head(n=0).to_sql(name="zones", con=engine, if_exists="replace", index=False)

0

In [19]:
df.to_sql(name="zones", con=engine, if_exists="append", index=False)

265